.container-about {
  background-image: url(https://www.pakutaso.com/shared/img/thumb/RED19526B009_TP_V.jpg);
  height: 100vh;
  width: 100vw;
  opacity: 70%;
  h2 {
    font-size: 35px;
    color: peachpuff;
    text-align: center;
  }
  p {
    font-size: 15px;
    color: peachpuff;
    text-align: center;
  }
  .access {
    text-align: center;
  }
}