.container
  .main
    .content
      %h1.title
        %span.spring 春
        %span.primavera Shun
        %span.summer 夏
        %span.verano Ka
        %span.autom 秋
        %span.atono Shu
        %span.winter 冬
        %span.invierno To